<!DOCTYPE html>

<html>
    <header>
        <style>
            body {
                margin: 0px;
            }
            #app{
                display: flex;
                justify-content: center;
            }
            .cell{
                display: flex;
                min-width: 96px;
                min-height: 50px;
                justify-content: center;
                align-items: center;
            }
            .input-cell {
                background: white;
                color: white;
                border: solid 2px white;
            }
            .grid-cell {
                background: grey;
                border: solid 2px black;
            }
            .coin {
                display: flex;
                min-width: 40px;
                min-height: 40px;
                color: grey;
                background: grey;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
            }
            .menu {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            .next {
                align-self: flex-start;
            }
        </style>
    </header>
    <body>
        <script src="https://unpkg.com/vue@3"></script>

        <div id="app">
            <div v-for="(rows, i) in grid" @click="fall">
                <div class="cell input-cell">
                    <div v-if="(orientation == 1) && (position == i)" class="coin" :style="{background: colors[current[1]]}">{{ current[1] }}</div>
                </div>
                <div class="cell input-cell">
                    <div v-if="position == i" class="coin" :style="{background: colors[current[0]]}">{{ current[0] }}</div>
                    <div v-if="(orientation % 2 == 0) && (position == i + orientation - 1)" class="coin" :style="{background: colors[current[1]]}">{{ current[1] }}</div>
                </div>
                <div class="cell input-cell">
                    <div v-if="(orientation == 3) && (position == i)" class="coin" :style="{background: colors[current[1]]}">{{ current[1] }}</div> </div>
                <div v-for="cell in rows">
                    <div class="cell grid-cell">
                        <div v-if="cell != 0" class="coin" :style="{background: colors[cell]}">{{ cell }}</div>
                        <div v-else class="coin" style="background: black"></div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="next">
                    <div class="cell input-cell next">
                        <div class="coin" :style="{background: colors[next[0]]}">{{ next[0] }}</div>
                    </div>
                    <div class="cell input-cell next">
                        <div class="coin" :style="{background: colors[next[1]]}">{{ next[1] }}</div>
                    </div>
                </div>
                <div class="menu">
                    <div>
                        Score: {{ score }}
                    </div>
                    <div>
                        <button @click="back()">Back</button>
                    </div>
                    <div>
                        <button @click="help()">Help</button>
                    </div>
                    <div>
                        <button @click="initialize_grid()">Replay</button>
                    </div>
                </div>
            </div>
        </div>

    <script>
    const { createApp } = Vue

    createApp({
                data() {
                            return {
                                        columns: 7,
                                        rows: 7,
                                        grid: new Array(),
                                        current: [2, 1],
                                        next: [2, 2],
                                        previous_current: [2, 1],
                                        previous_next: [2, 1],
                                        previous_grid: new Array(),
                                        previous_score: 0,
                                        max_next: 1,
                                        colors: [
                                                    "grey", "yellow", "green", "blue",
                                                    "red", "orange", "white", "cyan",
                                                    "magenta", "gold", "salmon", "slateblue",
                                                    "tomato"
                                                ],
                                        position: 3,
                                        orientation: 0,
                                        score: 0
                                    }
                        },
                methods: {
                            track_keyboard: function(event){
                                        if (event.key == "ArrowUp" || event.key == "k"){
                                                    this.orientation = (this.orientation + 1) % 4;
                                                }
                                        else if (event.key == "ArrowDown" || event.key == "j"){
                                                    this.orientation = (this.orientation + 3) % 4;
                                                }
                                        else if (event.key == "ArrowLeft" || event.key == "h") {
                                                    this.position = Math.max(0, this.position - 1);
                                                }
                                        else if (event.key == "ArrowRight" || event.key == "l") {
                                                    this.position = Math.min(this.columns - 1, this.position + 1);
                                                }
                                        else if (event.key == " ") {
                                                    this.fall();
                                                }
                                        if (this.orientation == 0){
                                                    this.position = Math.min(this.position, this.columns - 2);
                                                } 
                                        else if (this.orientation == 2){
                                                    this.position = Math.max(this.position, 1);
                                                }
                                    },
                            set_next: function(){
                                        this.max_next = Math.max.apply(null, this.grid.map(function(row){ return Math.max.apply(Math, row); })) + 1;
                                        this.next = [Math.max(1, Math.floor(Math.random() * this.max_next)), Math.max(1, Math.floor(Math.random() * this.max_next))];
                                    },
                            add_coin: function(position, value) {
                                        column = Array.from(this.grid[position]);
                                        column.reverse();
                                        row = column.findIndex(element => element == 0);
                                        if (row == -1) {
                                                    alert("Loser");
                                                    this.initialize_grid();
                                                    return -1;
                                                } 
                                        else {
                                                    this.grid[position][this.rows - 1 - row] = value;
                                                    return 0;
                                                }
                                    },
                            fall: function() {
                                        this.backup();
                                        if (this.orientation == 3){
                                                    return_code = this.add_coin(this.position, this.current[1]);
                                                    if (return_code != -1) {
                                                                return_code = this.add_coin(this.position, this.current[0]);
                                                            }
                                                } 
                                        else {
                                                    return_code = this.add_coin(this.position, this.current[0]);
                                                    if (return_code != -1) {
                                                                return_code = this.add_coin(this.position + 1 - this.orientation, this.current[1]);
                                                            }

                                                }
                                        if (return_code != -1) {
                                                    this.update(this.rows - 1, 0);
                                                }
                                        this.current = this.next;
                                        this.set_next();
                                    },

                            pop: function(i, j) {
                                        for (k = i; k > 1; k--) {
                                                    this.grid[j][k] = this.grid[j][k - 1];
                                                }
                                        this.grid[j][0] = 0;
                                    },

                            check_inside: function(i, j) {
                                        return (i >= 0) && (i < this.rows) && (j >= 0) && (j < this.columns)
                                    },

                            update: function(i, j){
                                        if (j == this.columns){
                                                    this.update(i - 1, 0);
                                                } 
                                        else if (i >= 1 && this.grid[j][i] != 0) {
                                                    found = false;
                                                    candidates_coordinates = [
                                                                [j, i - 1],
                                                                [j, i + 1],
                                                                [j - 1, i],
                                                                [j + 1, i]
                                                            ].filter(coord => this.check_inside(coord[1], coord[0]));
                                                    candidates = Array.from(
                                                                candidates_coordinates,
                                                                coord => this.grid[coord[0]][coord[1]]
                                                            );
                                                    for (k = 0; k < candidates.length - 1; k++){
                                                                for (l = k + 1; l < candidates.length; l++){
                                                                            if (this.grid[j][i] == candidates[k] && this.grid[j][i] == candidates[l]) {
                                                                                        found = true;
                                                                                        break;
                                                                                    }
                                                                        }
                                                                if (found) {
                                                                            break;
                                                                        }
                                                            }
                                                    if (found) {
                                                                this.score += this.grid[j][i];
                                                                this.grid[j][i]++;
                                                                this.pop(candidates_coordinates[k][1], candidates_coordinates[k][0]);
                                                                this.pop(candidates_coordinates[l][1], candidates_coordinates[l][0]);
                                                                this.update(this.rows - 1, 0);
                                                            } 
                                                    else {
                                                                this.update(i, j + 1);
                                                            }
                                                }
                                        else if (i >= 1) {
                                                    this.update(i, j + 1);
                                                }
                                    },

                            backup: function(){
                                        this.previous_grid = JSON.parse(JSON.stringify(this.grid));
                                        this.previous_current = JSON.parse(JSON.stringify(this.current));
                                        this.previous_next = JSON.parse(JSON.stringify(this.next));
                                        this.previous_score = this.score;
                                    },

                            help: function(){
                                        alert('Use the left and right arrow to move the blocks. Use up and down arrow to change the orientation of the blocks. Use the space bar to make the block fall.');
                                    },

                            back: function(){
                                        this.grid = JSON.parse(JSON.stringify(this.previous_grid));
                                        this.current = JSON.parse(JSON.stringify(this.previous_current));
                                        this.next = JSON.parse(JSON.stringify(this.previous_next));
                                        this.score = this.previous_score;
                                    },
                            initialize_grid: function() {
                                        document.onkeyup = this.track_keyboard;
                                        this.grid = Array.from(Array(this.columns), () => Array.from(Array(this.rows), () => 0));
                                        this.current = [1, 1];
                                        this.score = 0;
                                        this.set_next();
                                        this.backup();
                                    }

                        },
                mounted(){
                            this.initialize_grid();
                        }
        }).mount('#app')
    </script>
    </body>
</html>
